---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navigation/Navbar';
import NavCard, { type NavCardProps } from '../components/navigation/NavCard';
import Button  from '../components/utilities/Button';
import "../styles/global.css";

const navCardItems: NavCardProps[] = [
	{
	 type: 'new',
	 label: 'Nuevo',
	 iconHeight: '65%',
	 iconWidth: '65%'
	},
	{
	 type: 'database',
	 label: 'Registros',
	 iconHeight: '65%',
	 iconWidth: '65%'
	},
	{
	 type: 'chart',
	 label: 'Graficas',
	 iconHeight: '65%',
	 iconWidth: '65%'
	},
	{
	 type: 'settings',
	 label: 'Ajustes',
	 iconHeight: '65%',
	 iconWidth: '65%'
	}
]

function onClick() {
  alert('Clicked!')
}

console.log(typeof onClick);

---
<Layout title="Welcome to Astro.">
	<main class="flex flex-col h-screen min-w-min min-h-min">
		<Navbar/>
		<header class="p-4 flex flex-col">
			<div class="container mx-auto"> 
				<h1> Bienvenido Brian Nieto</h1>
			</div>
			<div>
				<Button onClick={onClick} label="Click me" type="info"  client:load/>
			</div>

		</header>
		<main class="container my-auto mx-auto p-8 xs:p-4 flex sm:flex-col md:flex-row lg:flex-row flex-wrap md:flex-nowrap lg:flex-nowrap gap-8 sm:gap-8
		 md:gap-12 lg:gap-16">
			{
				navCardItems.map(({type, label, iconHeight, iconWidth})=> (
					<NavCard type={type} label={label} iconHeight={iconHeight} iconWidth={iconWidth}/>
				))
			}
		</main>
		<footer class="flex my-auto items-center justify-center">
			<h3> Version 1.0.0 </h3>
		</footer>
	</main>
</Layout>
