---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar';
import NavCard, { type NavCardProps } from '../components/NavCard';
import "../styles/global.css";

const navCardItems: NavCardProps[] = [
	{
	 type: 'new',
	 label: 'Nuevo',
	 height: '80%',
	 width: '80%',
	 iconHeight: '65%',
	 iconWidth: '65%'
	},
	{
	 type: 'database',
	 label: 'Registros',
	 height: '80%',
	 width: '80%',
	 iconHeight: '65%',
	 iconWidth: '65%'
	},
	{
	 type: 'chart',
	 label: 'Graficas',
	 height: '80%',
	 width: '80%',
	 iconHeight: '65%',
	 iconWidth: '65%'
	},
	{
	 type: 'settings',
	 label: 'Configuracion',
	 height: '80%',
	 width: '80%',
	 iconHeight: '65%',
	 iconWidth: '65%'
	}
]
//grid grid-rows-[0.25fr_0.5fr_2.5fr_0.75fr]
---

<Layout title="Welcome to Astro.">
	<main class="h-screen">
		<Navbar/>
		<header class="p-4 h-1/4">
			<div class="container mx-auto"> 
				<h1> Bienvenido Brian Nieto</h1>
			</div>
		</header>
		<main class="container mx-auto p-8 xs:p-4 flex flex-row sm:gap-12 gap-8 h-1/2">
			{
				navCardItems.map(({type, label, height, width, iconHeight, iconWidth})=> (
					<NavCard type={type} label={label} height={height} width={width} iconHeight={iconHeight} iconWidth={iconWidth}/>
				))
			}
		</main>
		<footer class="flex items-center justify-center">
			<h3> Version 1.0.0 </h3>
		</footer>
	</main>
</Layout>
